
@model PagedList.IPagedList<GroupOnC2.Models.SANPHAM>

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

    <div class="bg">
        <div class="bg_T">
        </div>
        <div class="bg_M">
            <ul class="product_hot">
                @functions {int i = 0;}
				@functions {string MaLoaiSP ="" ;} 
                @foreach (var item in Model)
                {
					MaLoaiSP = item.MaLoaiSP;
                    i++;
                    if (i < 3)
                    {
                        <li>         
                            <h3>
                                @Html.ActionLink(item.TenSP, "Details", new {id = item.MaSP})   
                            </h3>
                            <div class="percent">
                                    
                            </div>
                            <img title= @item.TenSP class="product_hot_img tooltipJs" src="../../Content/themes/images/d_6318_b.jpg">
                            <div class="product_hot_info">
                                <p class="product_hot_price">
                                </p>
                                <p class="product_hot_btn">
                                    <input type="image" src="../../Content/themes/images/btn_buy1.png">
                                </p>
                            </div>

                            <div class="product_hot_info1">
                                <p class="product_hot_price_true">
                                    Trị giá: <span>184.000d</span></p>
                                <p class="product_hot_infobuy">
                                    Có<span> 47 </span>người cùng mua</p>
                            </div>

                            <div class="index_tooltip">
                                <span>
                                    <img src="../../Content/themes/images/icon_moto2.png" width="45" height="45" align="absmiddle" style="margin-top: -7px">
                                    Giao sản phẩm miễn phí
                                </span>
                            </div>
                        </li>
                    } else
                    {
                        break;
                    }    
                }
            </ul>

            <ul class="product">
                @foreach (var item in Model)
                {
                    <li>
                        <h3>
                            @Html.ActionLink(item.TenSP, "Details", new { id = item.MaSP})
                        </h3>
                        <div class="percent1">
                            
                        </div>

                        <img title = "@item.TenSP" class="product_img loading1" src= "@item.HinhAnh"/>
                        <div class="product_info">
                            <p class="product_price">
                                        
                            </p>

                            <p class="product_btn">
                                <input type="image" src="../../Content/themes/images/btn_buy1.png">
                            </p>

                            <div class="index_tooltip">
                                <span>
                                    <img src="../../Content/themes/images/icon_moto2.png" width="30" height="30" align="absmiddle">
                                    Giao sản phẩm miễn phí
                                </span>
                            </div>
                        </div>

                        <div class="product_info1">
                            <p class="product_price_true">
                                Trị giá: <span> @Html.DisplayFor(modelItem => item.GiaGoc)</span></p>
                            <p class="product_infobuy">
                                Có<span> 19 </span>người cùng mua</p>
                        </div>
                    </li>
                }
            </ul>
            <script type="text/javascript">
            	//alert(heightLoad);
            	$(function () {
            		heightLoad = heightLoad + 9570;
            	});
        
            </script>

            <br class="clean">
            <div class="see_more" style="display: none">
                <div href="" id="moreLink">
                    Đang tải</div>
            </div>
                  
        </div>

        <div class="bg_B">
        </div>
    </div>
<div>

	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
	of @Model.PageCount
	&nbsp;
	@if (Model.HasPreviousPage)
 {
		@Html.ActionLink("<<", "Browse", new {MaLoaiSP = MaLoaiSP, page = 1 })
		@Html.Raw("&nbsp;");
		@Html.ActionLink("< Prev", "Browse", new { MaLoaiSP = MaLoaiSP, page = Model.PageNumber - 1 })
 }
 else
 {
	@:<<
	@Html.Raw("&nbsp;");
	@:< Prev
 }
 &nbsp;
 @if (Model.HasNextPage)
 {
	 @Html.ActionLink("Next >", "Browse", new { MaLoaiSP = MaLoaiSP, page = Model.PageNumber + 1 })
	 @Html.Raw("&nbsp;");
	 @Html.ActionLink(">>", "Browse", new { MaLoaiSP = MaLoaiSP, page = Model.PageCount })
 }
 else
 {
	 @:Next >
	 @Html.Raw("&nbsp;");
	 @:>>
 }
</div>
