@{
    ViewBag.Title = "SanPhamDoanhNgiep";
    Layout = "~/Views/Shared/_Layout_doanhnghiep.cshtml";
}
<fieldset>
<legend>Sản Phẩm của Công Ty </legend>
</fieldset>
<div class="bg_account_M">
      
    <ul class="calague">
                <li class="active">
                    <p class="all_L">
                    </p>
                    <p class="calogue_M">
                        @Html.ActionLink("Tất cả", "Index", new {  }) &nbsp;
                    <p class="calogue_line">
                    </p>
                </li>

                <li class="">  
                    <p class="calogue_M">
                        @Html.ActionLink("Ẩm thực", "Browse", new { MaLoaiSP = "AT" }) &nbsp;
                    </p>
                    <p class="calogue_line">
                    </p>
                </li>

                 <li class="">
                    <p class="calogue_M">
                        @Html.ActionLink("Công nghệ", "Browse", new { MaLoaiSP = "CN" }) &nbsp;
                        <!-- <img src="../../Content/themes/images/moi.png" border="0px" class="new">-->
                    </p>
                    <p class="calogue_line">
                    </p>
                </li>

                <li class="">
                    <p class="calogue_M">
                         @Html.ActionLink("Du lịch", "Browse", new { MaLoaiSP = "DL" }) &nbsp;
                    </p>
                    <p class="calogue_line">
                    </p>
                </li>
				<li class="">
                    <p class="calogue_M">
                         @Html.ActionLink("Giáo dục", "Browse", new { MaLoaiSP = "GD" }) &nbsp;
                    </p>
                    <p class="calogue_line">
                    </p>
                </li>
				<li class="">
                    <p class="calogue_M">
                         @Html.ActionLink("Thư giãn", "Browse", new { MaLoaiSP = "LD" }) &nbsp;
                    </p>
                    <p class="calogue_line">
                    </p>
                </li>
				<li class="">
                    <p class="calogue_M">
                         @Html.ActionLink("Thời trang - Mỹ phẩm", "Browse", new { MaLoaiSP = "TT" }) &nbsp;
                    </p>
                    
                </li>

                <br class="clean">
    </ul>
</div>