@model List<GroupOnC2.Models.DONHANG>
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg_account">
    <div class="bg_account_T">
        Thông tin đơn hàng
    </div>

    <div class="bg_account_M">
        <div class="account_content">
            <div class="account_item">
                <p>
                    @*<span style="float: left;">Mã đơn hàng: <strong>6778-181-530</strong></span>
                    <span style="float: right;">Ngày đặt hàng: <strong>13/06/2012</strong></span>*@
                    <br class="clean">
                </p>
                <table class="account_list" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th style="width: 100px;" colspan="2" scope="col" align="center">
                                MaKH
                            </th>
                            <th style="width: 100px;" scope="col" align="center">
                                Phiếu/Sản phẩm
                            </th>
                            <th style="width: 135px;" align="center" scope="col">
                                Đơn giá
                            </th>
                            <th style="width: 135px;" align="center" scope="col">
                                Số lượng
                            </th>
                            <th style="width: 190px;" scope="col" align="center">
                                Thành tiền
                            </th>
                        </tr>
						@foreach (var item in Model)
	  {
                        <tr>
                            <td colspan="2">
                                @item.MaTK
                            </td>
                            <td align="center">
                                <li>@Html.ActionLink(@item.CHITIETDONHANGs.ElementAt(0).TenSP, "Details", "Home", new { id = item.CHITIETDONHANGs.ElementAt(0).TenSP }, "")</li>
                            </td>
                            <td align="center">
                                @item.CHITIETDONHANGs.ElementAt(0).DonGia
                            </td>
                            <td align="center">
                                @item.CHITIETDONHANGs.ElementAt(0).SoLuong
                            </td>
                            <td align="right">
                                <strong>@item.CHITIETDONHANGs.ElementAt(0).ThanhTien</strong>
                            </td>
                        </tr>
          
                        <tr>
                            <td colspan="6" align="right">
                                @Html.ActionLink("Delete", "DeleteOrder", new { id = item.MaDH })

                                @Html.ActionLink("Update", "UpdateOrder", new { id = item.MaDH })
                            </td>
                        </tr>
	  } 
	  </tbody>
                </table>

               @* <p style="text-align: right;"><a class="btn_delete" href="" onclick="return confirm()">Hủy đơn hàng</a></p>*@
            </div>
	  
            <p class="line3">
            </p>

            <div id="pager">
                <br class="clean">
            </div>
        </div>
        <br class="clean">
        <br class="clean">
    </div>

    <div class="bg_account_B">
    </div>
</div>

