@model GroupOnC2.Models.SANPHAM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SANPHAM</legend>

    <div class="display-label">MaSP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaSP)
    </div>

    <div class="display-label">LOAISANPHAM</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LOAISANPHAM.TenLoaiSP)
    </div>

    <div class="display-label">TenSP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenSP)
    </div>

    <div class="display-label">HinhAnh</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnh)
    </div>

    <div class="display-label">GiaBan</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaBan)
    </div>

    <div class="display-label">GiaGoc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaGoc)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
